.dashboard-main {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    width: fill;
}
.dashboard-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: fill;
}

.search {
    width: 100%;
    height: 50px;
    color: grey;
    display: flex;
    justify-content: left;
    position: relative;
}
.search input {
    width: 100%;
    border-radius: 20px;
    padding: 10px 50px;
    font-size: 18px;
    border: none;
}
.search-log {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}
.dashboard-section h3 {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}
.subcomponent {
    display: flex;
    flex-direction: column;
}
